<h1>Register new users</h1>
<form class="form" [formGroup]="form" (ngSubmit)="register(form.value)">
    <fieldset class="fieldset">
        <mat-form-field appearance="outline">
            <mat-label>Full Name</mat-label>
            <input title="Full Name" matInput formControlName="fullName" autocomplete="name" required>
            <ng-container>
                @if (form.get('fullName')?.errors; as err) {
                <mat-error>
                    @if (err?.['required']) {<span>*</span>}
                    @if (err?.['minlength']) {<span>min: {{err?.['minlength']?.['requiredLength']}}
                        characters</span>}
                    @if (err?.['maxlength']) {<span>max: {{err?.['maxlength']?.['requiredLength']}}
                        characters</span>}
                </mat-error>
                }
            </ng-container>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input title="Username" matInput formControlName="userName" autocomplete="username" required>
            <ng-container>
                @if (form.get('userName')?.errors; as err) {
                <mat-error>
                    @if (err?.['required']) {<span>*</span>}
                    @if (err?.['minlength']) {<span>min: {{err?.['minlength']?.['requiredLength']}} </span>}
                    @if (err?.['maxlength']) {<span>max: {{err?.['maxlength']?.['requiredLength']}} </span>}
                </mat-error>
                }
            </ng-container>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input title="Password" matInput formControlName="password" type="password" autocomplete="new-password"
                required>
            <ng-container> @if (form.get('password')?.errors; as err) {
                <mat-error>
                    @if (err?.['required']) {<span>*</span>}
                    @if (err?.['minlength']) {<span>min: {{err?.['minlength']?.['requiredLength']}} </span>}
                    @if (err?.['maxlength']) {<span>max: {{err?.['maxlength']?.['requiredLength']}} </span>}
                    @if (err?.['passwordCheck']; as cmp) {
                    @if (cmp === 'uppercase') {<span>Uppercase </span>}
                    @if (cmp === 'lowercase') {<span>Lowercase </span>}
                    @if (cmp === 'number') {<span>Number </span>}
                    @if (cmp === 'specialCharacter') {<span>Symbol </span>}
                    }
                </mat-error>
                }
            </ng-container>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input title="Confirm Password" matInput formControlName="confirmPassword" type="password"
                autocomplete="new-password" required>
            @if (form.get('confirmPassword')?.errors; as err) {
            <mat-error>
                @if (err?.['required']) {<span>*</span>}
                @if (err?.['minlength']) {<span>{{err?.['minlength']?.['requiredLength']}} </span>}
                @if (err?.['maxlength']) {<span>{{err?.['maxlength']?.['requiredLength']}} </span>}
                @if (err?.['passwordCheck']; as cmp) {
                @if (cmp === 'uppercase') {<span>Uppercase </span>}
                @if (cmp === 'lowercase') {<span>Lowercase </span>}
                @if (cmp === 'number') {<span>Number </span>}
                @if (cmp === 'specialCharacter') {<span>Symbol </span>}
                }
            </mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Role</mat-label>
            <mat-select formControlName="role" required>
                @for (r of roles(); track r) {
                <mat-option [value]="r">{{ r }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <div class="form-actions">
            <button mat-raised-button color="primary" type="submit"
                [disabled]="form.invalid || act.activity().isProcessing">
                Register
            </button>
            @if (form.errors?.['passwordMismatch']) {
            <mat-error>
                <span>Passwords do not match</span>
            </mat-error>
            }
        </div>
    </fieldset>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>User names</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @for (user of users.value(); track $index) {
        <tr>
            <td>{{ user.fullName }}</td>
            <td>{{ user.userName }}</td>
            <td>
                <button type="button" title="Delete User" mat-icon-button color="warn" (click)="delUser(user.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </tr>
        }
    </tbody>
</table>
