<div class="ag-dialog-header">
    <h2 mat-dialog-title class="ag-dialog-title">Add New Service</h2>
    <button type="button" mat-icon-button mat-dialog-close class="ag-dialog-close" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div mat-dialog-content class="ag-dialog-content">
    <form [formGroup]="form" class="ag-form-container ag-service-form" (submit)="addService(form.value)">

        <!-- Service Name Field -->
        <mat-form-field appearance="outline" class="ag-mat-form-field">
            <mat-label>Service Name</mat-label>
            <input matInput formControlName="serviceName" title="Enter service name">
            @if (form.get('serviceName')?.invalid && form.get('serviceName')?.touched) {
            <mat-error>
                @if (form.get('serviceName')?.errors?.['required']) {
                <span>*</span>
                }
                @if (form.get('serviceName')?.errors?.['minlength']) {
                <span>Min {{ form.get('serviceName')?.errors?.['minlength']?.requiredLength }} characters</span>
                }
                @if (form.get('serviceName')?.errors?.['maxlength']) {
                <span>Max {{ form.get('serviceName')?.errors?.['maxlength']?.maxLength }} characters</span>
                }
            </mat-error>
            }
        </mat-form-field>

        <!-- Cost Field -->
        <mat-form-field appearance="outline" class="ag-mat-form-field">
            <mat-label>Cost (GHS)</mat-label>
            <input matInput type="number" formControlName="cost" title="Add cost" step="10">
            @if (form.get('cost')?.invalid && form.get('cost')?.touched) {
            <mat-error>
                @if (form.get('cost')?.errors?.['required']) {
                <span>*</span>
                }
                @if (form.get('cost')?.errors?.['min']) {
                <span> Min ₵{{ form.get('cost')?.errors?.['min']?.min | number:'1.2-2' }}</span>
                }
                @if (form.get('cost')?.errors?.['max']) {
                <span>Max ₵{{ form.get('cost')?.errors?.['max']?.max | number:'1.2-2' }}</span> }
            </mat-error>
            }
        </mat-form-field>

        <!-- Per Person Checkbox -->
        <div class="ag-checkbox-field">
            <mat-checkbox formControlName="perPerson" class="ag-checkbox">
                Charge per person
            </mat-checkbox>
        </div>

        <div mat-dialog-actions class="ag-dialog-actions">
            <button mat-button mat-dialog-close class="ag-button secondary" type="button">
                Cancel
            </button>
            @if (getText(); as t) {
            <button mat-raised-button class="ag-button primary" type="submit"
                [disabled]="form.invalid || act.activity().isProcessing">
                <mat-icon>{{ t.icon}}</mat-icon>
                {{t.text}}
            </button>
            }
        </div>
    </form>
</div>
